<div class="app-bar-element">
    <div *ngIf="!(isLoading | async)">
        <a class="dropdown-toggle"><span class="user-icon {{icon}}"></span> {{userName}}</a>
        <div class="app-bar-drop-container place-right" data-role="dropdown" data-no-close="true">
            <div class="user-menu">
                <div class="tile-container bg-white">
                    <div class="tile-small bg-cyan" [routerLink]="['/dashboard']">
                        <div class="tile-content iconic">
                            <span class="icon mif-home"></span>
                            <span class="tile-label">Кабинет</span>
                        </div>
                    </div>
                    <div class="tile-small bg-yellow" (click)="onLogout()">
                        <div class="tile-content iconic">
                            <span class="icon mif-exit"></span>
                            <span class="tile-label">Выйти</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading | async" class="preloader-container">
        <div data-role="preloader" data-type="ring" data-style="dark"></div>
    </div>
</div>