<div class="app-bar app-bar-top bg-white shadow">
    <div class="container">
        <appbar-logo link="/" image="/assets/img/logo.jpeg"></appbar-logo>
        <div class="place-right">
            <appbar-dropdown text="Регистрация" icon="mif-user-plus">
                <signup-form></signup-form>
            </appbar-dropdown>
            <div class="app-bar-divider"></div>
            <appbar-dropdown text="Войти" icon="mif-enter">
                <signin-form></signin-form>
            </appbar-dropdown>
        </div>
    </div>
</div>