<div class="app-bar bg-grayLighter">
    <div class="container">
        <div class="tile-container">
            <navbar-logo link="" image="assets/img/logo.jpeg" background="white"></navbar-logo>
            <div class="place-right">
                <navbar-item link="" text="Главная" icon="home" color="white" background="yellow"></navbar-item>
                <navbar-item link="/catalog" text="Каталог" icon="cart" color="white" background="orange"></navbar-item>
                <navbar-item link="/auction" text="Аукцион" icon="justice" color="white" background="blue"></navbar-item>
                <navbar-item link="/forum" text="Форум" icon="organization" color="white" background="violet"></navbar-item>
                <navbar-item link="/blog" text="Блог" icon="pencil" color="white" background="green"></navbar-item>
                <navbar-item link="/news" text="Новости" icon="earth2" color="white" background="red"></navbar-item>
                <navbar-item link="/login" text="Войти" icon="user" color="white" background="grayDark"></navbar-item>
            </div>
        </div>
    </div>
</div>