<div class="nav-bar bg-white">
    <div class="container">
        <div class="tile-container">
            <navbar-item link="" text="Главная" icon="icon mif-home" color="white" background="#fd1" isLinkExact="true"></navbar-item>
            <navbar-item link="/catalog" text="Каталог" icon="icon mif-cart" color="white" background="#009AD7"></navbar-item>
            <navbar-item link="/auction" text="Аукцион" icon="icon mif-justice" color="white" background="#FFAA31"></navbar-item>
            <navbar-item link="/automobile" text="Авто и мото" icon="icon mif-automobile" color="white" background="#68AF27"></navbar-item>
            <navbar-item link="/real-estate" text="Недвижимость" icon="icon mif-location-city" color="white" background="#C22439"></navbar-item>
            <navbar-item link="/forum" text="Форум" icon="icon mif-organization" color="white" background="#005683"></navbar-item>
            <navbar-item link="/blog" text="Блог" icon="icon mif-pencil" color="white" background="#673499"></navbar-item>
            <navbar-item link="/news" text="Новости" icon="icon mif-earth2" color="white" background="#D53F26"></navbar-item>
        </div>
    </div>
</div>