.auth-form {
    h6 {
        margin: 0 0 -8px;
        font-size: 13px;
        line-height: 12px !important;
    }
    input.ng-dirty.ng-invalid {
        border-color: #ce352c;
    }
}
.preloader-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 50%;
    z-index: 9999999;
    background-color: rgba(255, 255, 255, 0.8);
}

@media(max-width: 800px) {
    .auth-form {
        h4 {
            margin: 0 0 12px;
        }
        h6 {
            margin: 0 0 -4px;
        }
    }
}

@media(max-width: 640px) {
    .auth-form {
        h4 {
            margin: 0 0 12px;
        }
        h6 {
            font-size: 11px;
        }
        .form-actions {
            .button.link {
                padding: 0 0.5rem;
            }
        }
    }
}