.navbar {
    .container {
        padding: 0;
    }

    .navbar-items-container {
        .navbar-item-container {
            float: left;
            width: 12.5%;
            height: 120px;
            cursor: pointer;
            box-shadow: inset 0 0 1px #FFC;

            &.active {
                .navbar-item {
                    color: #FFF;
                }
            }

            .navbar-item {
                height: 100%;
                width: 100%;
                margin-top: 30px;
                color: #EEE;
                text-align: center;

                &:hover {
                    color: #FFF;
                }

                .icon {
                    font-size: 32px;
                }

                .navbar-label {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }

            .navbar-item-underline {
            }
        }
    }

    @media(max-width: 992px) {
        .navbar-items-container {
            .navbar-item-container {
                height: 100px;

                .navbar-item {
                    margin-top: 20px;

                    .navbar-label {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    @media(max-width: 860px) {
        .navbar-items-container {
            .navbar-item-container {
                height: 90px;

                .navbar-item {
                    .icon {
                        font-size: 30px;
                    }

                    .navbar-label {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    @media(max-width: 768px) {
        .navbar-items-container {
            .navbar-item-container {
                width: 25%;
            }
        }
    }

    @media(max-width: 420px) {
        .navbar-items-container {
            .navbar-item-container {
                height: 80px;

                .navbar-item {
                    .navbar-label {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @media(max-width: 360px) {
        .navbar-items-container {
            .navbar-item-container {
                .navbar-item {
                    .navbar-label {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}