.search {
    .container {
        padding: 0;
    }

    .search-panel {
        margin: 10px 0;
        padding: 20px;

        h1 {
            margin: 0;
            color: #FFF;
            font-size: 28px;

            span {
                font-size: 22px;
            }
        }

        form {
            display: block;
            width: 100%;
            margin-top: 10px;

            .input-control {
                width: 100%;

                input {
                    border-radius: 0;
                }
            }
        }
    }

    @media(max-width: 860px) {
        .search-panel {
            h1 {
                font-size: 24px;
            }
        }
    }

    @media(max-width: 768px) {
        .search-panel {
            padding: 15px;

            h1 {
                font-size: 22px;
            }
        }
    }

    @media(max-width: 420px) {
        .search-panel {
            padding: 10px;

            h1 {
                font-size: 18px;
            }

            form {
                margin-top: 5px;
            }
        }
    }

    @media(max-width: 360px) {
        .search-panel {
            padding: 7px;

            h1 {
                font-size: 16px;
            }
        }
    }
}