<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="auth-form" novalidate>
    <h4 class="text-light">Регистрация</h4>
    <h6 *ngIf="errors.loginError">{{errors.loginError}}</h6>
    <div class="input-control text">
        <span class="mif-user prepend-icon"></span>
        <input type="text" placeholder="Логин" name="login" formControlName="login">
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <h6 *ngIf="errors.passwordError">{{errors.passwordError}}</h6>
    <div class="input-control text">
        <span class="mif-lock prepend-icon"></span>
        <input type="password" placeholder="Пароль" name="password" formControlName="password">
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <h6 *ngIf="errors.confirmPasswordError">{{errors.confirmPasswordError}}</h6>
    <div class="input-control text">
        <span class="mif-lock prepend-icon"></span>
        <input type="password" placeholder="Повтор пароля" name="confirmPassword" formControlName="confirmPassword" [class.ng-invalid]="!!errors.confirmPasswordError">
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <div class="form-actions">
        <button type="submit" class="button" [disabled]="signupForm.invalid">Ок</button>
        <button type="button" class="button link" (click)="onClear()">Очистить</button>
    </div>
    <div *ngIf="isBusy" class="preloader-overlay">
        <div data-role="preloader" data-type="metro" data-style="color" class="preloader-metro color-style">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</form>