.account {
    .content {
        .inner-content.login {
            .forget-password {
                margin-bottom: 25px;
            }

            .check {
                color: #8290a3;
            }

            .rememberme {
                margin-left: 30px;
            }
        }
    }
}