@{
    Layout = "_AngularLayout";
}

<div class="preloader-container">

    <div class="preloader-inner">
       
        <div data-role="preloader" data-type="cycle" data-style="color" class="preloader-cycle color-style">
            <div class="cycle"></div>
        </div>

        <h1 class="fg-grayDark">Добро пожаловать!</h1>
        <h6>Пожалуйста подождите...</h6>

    </div>

</div>