@{
    Layout = "_AngularLayout";
}

<div class="preloader-container">

    <div class="preloader-inner">
       
        <h1 class="fg-grayDark">Добро пожаловать!</h1>
        <h6>Пожалуйста подождите...</h6>

    </div>

</div>