@Html.Partial("_JQuery")
@Html.Partial("_MetroUI")
@Html.Partial("_Styles")

<div class="app-bar bg-grayLighter">
    <div class="container">
        <div class="tile-container">
            <div class="tile-small tile-logo bg-white fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <div class="image-container">
                        <img src="~/assets/img/logo.jpeg" />
                    </div>
                </div>
            </div>
            <div class="place-right">
                <div class="tile-small bg-yellow  fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-home"></span>
                        <span class="tile-label">Главная</span>
                    </div>
                </div>
                <div class="tile-small bg-orange fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-cart"></span>
                        <span class="tile-label">Каталог</span>
                    </div>
                </div>
                <div class="tile-small bg-blue fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-justice"></span>
                        <span class="tile-label">Аукцион</span>
                    </div>
                </div>
                <div class="tile-small bg-violet fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-organization"></span>
                        <span class="tile-label">Форум</span>
                    </div>
                </div>
                <div class="tile-small bg-green fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-pencil"></span>
                        <span class="tile-label">Блог</span>
                    </div>
                </div>
                <div class="tile-small bg-red fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-earth2"></span>
                        <span class="tile-label">Новости</span>
                    </div>
                </div>
                <div class="tile-small bg-grayDark fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-user"></span>
                        <span class="tile-label">Войти</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>