<form class="forget-form" [formGroup]="passwordForgotForm" (ngSubmit)="onSubmit()" novalidate>

    <p class="hint"> Пожалуйста, введите ваш адрес электронной почты для восстановления пароля. </p>

    <div class="form-group" [class.has-error]="passwordForgotForm.controls.email.dirtyInvalid" [class.has-success]="passwordForgotForm.controls.email.dirtyValid">
        <label class="control-label visible-ie8 visible-ie9">Электронный адрес</label>
        <div class="input-group input-icon right">
            <span class="input-group-addon">
                <i class="fa fa-user"></i>
            </span>
            <i class="fa fa-validate fa-warning" *ngIf="passwordForgotForm.controls.email.dirtyInvalid"></i>
            <i class="fa fa-validate fa-check" *ngIf="passwordForgotForm.controls.email.dirtyValid"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Электронная почта" name="email" formControlName="email"/>
        </div>
        <span *ngIf="passwordForgotForm.controls.email.dirtyInvalid" class="help-block" [textContent]="passwordForgotForm.controls.email.firstError"></span>
    </div>

    <div class="form-actions">
        <button type="button" class="btn green btn-outline" routerLink="/account/login">Назад</button>
        <button type="submit" class="btn green uppercase pull-right" [class.disabled]="passwordForgotForm.invalid || isBusy">Отправить</button>
    </div>

</form>