<div class="search">
    <div class="container">
        <div class="search-panel" active-background>
            <h1>Поисковая система</h1>
            <form>
                <div class="input-control text" data-role="input">
                    <input type="text" placeholder="Введите текст для поиска...">
                    <div class="button-group">
                        <button class="button helper-button clear"><span class="mif-cross"></span></button>
                        <button class="button"><span class="mif-search"></span> Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>