<form>
    <h4 class="text-light">Вход в систему...</h4>
    <div class="input-control text">
        <span class="mif-user prepend-icon"></span>
        <input type="text" placeholder="Логин">
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <div class="input-control text">
        <span class="mif-lock prepend-icon"></span>
        <input type="password" placeholder="Пароль">
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <label class="input-control checkbox small-check">
        <input type="checkbox">
        <span class="check"></span>
        <span class="caption">Запомнить меня</span>
    </label>
    <div class="form-actions">
        <button class="button">Войти</button>
        <button class="button link">Отмена</button>
    </div>
</form>