$menu-item-color: #777;

.app-bar-top {
    margin-bottom: 20px;

    .logo {
        img {
            width: 100px;
        }
    }
    .app-bar-element {
        &:hover {
            background: none !important;
        }
        a {
            color: $menu-item-color;
            &:before {
                border-color: $menu-item-color;
            }
        }
    }
    .app-bar-divider {
        margin-top: 10px;
        margin-left: -4px;
        height: 2rem;
        background-color: #AAA;
    }
}