<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Birbiz - @ViewBag.Title</title>
    <base href="/"/>
    @Html.Partial("_JQuery")
    @Html.Partial("_MetroUI")
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
