<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="auth-form" novalidate>
    <h4 class="text-light">Вход в систему...</h4>
    <h6 *ngIf="errors.loginError">{{errors.loginError}}</h6>
    <div class="input-control text">
        <span class="mif-user prepend-icon"></span>
        <input type="text" placeholder="Логин" name="login" formControlName="login">
        <button type="button" class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <h6 *ngIf="errors.passwordError">{{errors.passwordError}}</h6>
    <div class="input-control text">
        <span class="mif-lock prepend-icon"></span>
        <input type="password" placeholder="Пароль" name="password" formControlName="password">
        <button type="button" class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <label class="input-control checkbox small-check">
        <input type="checkbox" name="rememberMe" >
        <span class="check"></span>
        <span class="caption">Запомнить меня</span>
    </label>
    <div class="form-actions">
        <button type="submit" class="button" [disabled]="signinForm.invalid">Войти</button>
        <button type="button" class="button link" (click)="onClear()">Очистить</button>
    </div>
    <div *ngIf="isBusy" class="preloader-overlay">
        <div data-role="preloader" data-type="metro" data-style="color" class="preloader-metro color-style">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</form>